cam_type: "pylon"  # pylon or usb or file
cam_num: 0  # used if usb camera
cam_ip: "192.168.0.2"  # Camera IP for direct connection (Thunderbolt adapter compatible)
save_folder: "images/"
img_path: "images/2025-04-17 151020.jpg" # used if file camera

homo_matrix:
  # Avg error: 0.084
  # - [-0.000296751, -0.104393054, 95.692250864]
  # - [-0.105495202, -0.000222384, 539.705780924]
  # - [-0.000002936, -0.000000644, 1.000000000]
  # Avg Error: 0.071
    # - [-0.000008697, -0.103557476, 93.0]
    # - [-0.104674253, -0.000046658, 596.0]
    # - [-0.000002858, 0.000000315, 1.000000000]
  # Avg Error: 0.075, see raw data in vision_homography_mapper.py
  - [0.000134227, -0.105409095, 105.7] # 105
  - [-0.105741448, 0.000593871, 603.0] # 604.5
  - [-0.000000930, 0.000001675, 1.000000000]

# 1 2 3
# 4 5 6
# 7 8 9

# 11 12 13
# 21 22 23
# 31 32 33

section_config:
  "1":
    conveyor_position: 1
    capture_position: [ 120, 300, 0, 90] # in robot coordinates
    bounding_boxes: # x_min, y_min, x_max, y_max in camera coordinates
      - [400, 300, 2100, 1600] 
  "2":
    conveyor_position: 1
    capture_position: [0, 300, 0, 180]
    bounding_boxes:
      - [400, 300, 2100, 1600]
  "3":
    conveyor_position: 1
    capture_position: [-240, 300, 0, 90]
    bounding_boxes:
      - [400, 300, 2100, 1600]
  "4":
    conveyor_position: 2
    capture_position: [ 120, 300, 0, 90]
    bounding_boxes:
      - [400, 300, 2100, 1600]
  "5":
    conveyor_position: 2
    capture_position: [0, 300, 0, 180]
    bounding_boxes:
      - [350, 300, 750, 1600]
      - [950, 300, 1500, 1600]
      - [1700, 300, 2100, 1600]
  "6":
    conveyor_position: 2
    capture_position: [-240, 300, 0, 90]
    bounding_boxes:
      - [400, 300, 2100, 1600]
  "7":
    conveyor_position: 3
    capture_position: [ 120, 300, 0, 90]
    bounding_boxes:
      - [400, 300, 2100, 1600]
  "8":
    conveyor_position: 3
    capture_position: [0, 300, 0, 180]
    bounding_boxes:
      - [400, 300, 2100, 1600]
  "9":
    conveyor_position: 3
    capture_position: [-240, 300, 0, 90]
    bounding_boxes:
      - [400, 300, 2100, 1600]


reload_position: [0, 580, 0, 0]

robot:
  simulated: false     # Enable simulated robot mode (no real hardware connection)
  ip: "192.168.0.1"  # Robot IP address
  port: 8501           # Robot TCP port
  limits:
    x_min: -270
    x_max: 270
    y_min: 170
    y_max: 420
    z_min: -157
    z_max: -16.5
  # z_insert: -150 # all the way
  # z_insert: -80

camera:
  # 45010 for longfu calibration
  exposure_time: 55010  # Camera exposure time in microseconds (was hard-coded)

vision:
  update_frequency: 10  # Frequency of frame updates in Hz

network_devices:
  "192.168.0.1": "Robot"
  "192.168.0.2": "Camera"
  "192.168.0.7": "Macbook"
  "192.168.0.8": "Dell"
  "192.168.0.10": "PLC"
