cam_type: "file"  # pylon or usb or file
cam_num: 0  # used if usb camera
save_folder: "images/"
img_path: "images/2025-04-17 151020.jpg" # used if file camera

homo_matrix:
  # Avg error: 0.084
  # - [-0.000296751, -0.104393054, 95.692250864]
  # - [-0.105495202, -0.000222384, 539.705780924]
  # - [-0.000002936, -0.000000644, 1.000000000]
  # Avg Error: 0.071, see raw data in find_homography.py
    - [-0.000008697, -0.103557476, 93.0]
    - [-0.104674253, -0.000046658, 596.0]
    - [-0.000002858, 0.000000315, 1.000000000]

capture_positions:
  - [120, 330, 0, 90]
  - [-60, 330, 0, 90] # calibraition point
  - [-240, 330, 0, 90]

robot:
  ip: "192.168.0.1"  # Robot IP address
  port: 8501           # Robot TCP port
  z_max: -16.5
  z_min: -157
  jump_z_lim: -18
  #z_insert: -150 # all the way
  z_insert: -80

boundary:
  x_min: 400
  x_max: 2100
  y_min: 300
  y_max: 1600